/* Your code here */
.masthead {
    display: grid;
    width: 100%;
    grid-template-areas:
    "menu . actions"
    ". tech ."
    "date logo paper";
}

.masthead__menu {
    grid-area: menu;
    padding: 15px 10px 15px;
}

.masthead__actions {
    grid-area: actions;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.masthead__technologies {
    grid-area: tech;
    display: flex;
    justify-content: center;
    border-left: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}

.masthead__date {
    grid-area: date;
    font-size: 11px;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 11px;
    border-top: 1px solid #e2e2e2;
}

.masthead__logo {
    grid-area: logo;
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 11px;
}

.masthead__paper {
    grid-area: paper;
    font-size: 11px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 11px;
    border-top: 1px solid #e2e2e2;
}

.masthead__buttons {
    font-size: 11px;
    padding: 9px 7px 9px;

    display: inline-block;
}

.masthead__buttons:hover {
    background-color: #f7f7f5;
}

span.techs {
    text-transform: uppercase;
    font-size: 10px;
    color: #6f6f6f;
    margin: 10px;
}
